<div class="row">
  <div ng-controller="ArticlesCtrl">

    <div class="col-sm-6">
      <h1>Hacker News</h1>
      <form role="form" ng-submit="addArticle()">
        <div class="form-group">
          <input ng-model="newArticle" type="text" class="form-control input-sm" placeholder="Enter Article Name" required>
        </div>
        <div class="form-group">
          <input ng-model="newLink" type="text" class="form-control input-sm" placeholder="Enter Article Link" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="col-sm-6">
      <h3>Latest Stories</h3>

      <div class="row">
        <div ng-repeat="item in filtered = (articles | orderBy:'-adminScore()')">
          <div class="col-xs-1">
            <span ng-click="addLike(item)" class="glyphicon glyphicon-arrow-up"></span>
          </div>
          <div class="col-xs-1">
            <p>
              {{item.likes}}
            </p>
          </div>
          <div class="col-xs-10">
            <a href="{{item.link}}">{{item.name}}</a>
            <p>
              {{item.timeCreated()}}
            </p>

          </div>
        </div>
      </div>

    </div>




  </div>
</div>
